<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>


    <!-- FOOTER START -->
    <footer class="site-footer footer-large footer-dark text-white footer-style3">


        <!-- FOOTER BLOCKES START -->
        <div class="footer-top">
            <div class="container-fluid  px-5">
                <div class="row">

                    <div class="col-lg-3 col-md-6 ">
                        <div class="widget widget_about">
                            <div class="logo-footer clearfix">
                                <a href="/"><img src="images/rhosigma-logo-png.png" alt=""></a>
                            </div>
                            <p>Rhosigma is a leading IT Services and Hardware Solutions Company Offering a Wide Range of
                                Customer-Focused Services Ideal for Online Businesses.</p>
                        </div>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://www.google.com" target="_blank"> <i
                                    class="fa fa-google"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://www.facebook.com"
                                target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-primary btn-square mr-2"
                                href="https://www.linkedin.com/company/rhosigma-engineering-automations-pvt-ltd/"
                                target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-primary btn-square" href="https://www.twitter.com" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                        {{!-- <ul class="social-icons  wt-social-links footer-social-icon">

                            <li><a href="https://www.google.com" class="fa fa-google" target="_blank"></a></li>
                            <!-- <li><a href="javascript:void(0);" class="fa fa-rss"></a></li> -->
                            <li><a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a></li>
                            <li><a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a></li>
                            <li><a href="https://www.linkedin.com/company/rhosigma-engineering-automations-pvt-ltd/"
                                    class="fa fa-linkedin" target="_blank"></a></li>
                        </ul> --}}
                    </div>

                    <div class="col-lg-3 col-md-6 ">
                        <div class="widget recent-posts-entry">
                            <h3 class="widget-title">Contact</h3>

                            <ul class="widget_address">

                                <li><i class="fa fa-map-marker"></i> <a href="https://goo.gl/maps/jgAtcq2UGp5AzvSA9"
                                        style="color: white;" target="_blank">B/602, Virani Business Center, Opposite
                                        Bharat Gear Limited,
                                        Kausa Mumbra Thane 400612.</a> </li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:saeed.lanjekar@rhosigma.in"
                                        style="color: white">saeed.lanjekar@rhosigma.in</a> </li>
                                <li> <i class="fa fa-phone"></i> <a href=" tel:8655587403"
                                        style="color: white">8655587403</a></li>
                            </ul>
                        </div>


                    </div>


                    <div class="col-lg-2 col-md-6">
                        <div class="widget widget_services">
                            <h3 class="widget-title">Product</h3>
                            <ul>
                                <li><a href="HMI">Human To Machine Interface</a></li>
                                <li><a href="RS485">RS485 To USB Converter</a></li>
                                <li><a href="lora">LORA</a></li>
                                <li><a href="IIOT">IIOT Modules</a></li>

                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="widget widget_services">
                            <h3 class="widget-title">Solution Build</h3>
                            <ul>
                                <li><a href="Fota">Firmware Over The Air</a></li>
                                <li><a href="Remote">Remote Troubleshoot</a></li>
                                <li><a href="Iot">IOT Modules</a></li>
                                <li><a href="ble">BLE</a></li>
                                <li><a href="wifi">Wifi </a></li>


                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="widget widget_newsletter">
                            <h3 class="widget-title">Newsletter</h3>
                            <p>Subscribe to our newsletter to receive latest news on our services.</p>
                            <div class="newsletter-input">
                                <form action="/send_email" method="post">
                                <label for="emails"></label>
                                    <input type="email" class="form-control" name="email" id="forms"
                                        placeholder="Enter your email">
                                    <button type="submit"
                                        class="nl-search-btn site-bg-primary title-style-2">Subscribe</button>
                                </form>
                            </div>
                            <!-- <p>We don’t do mail to spam & your mail id is confidential.</p> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </footer>
    <!-- FOOTER END -->

    <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">

            <div class="loader">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->



    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="js/jquery-2.2.0.min.js"></script><!-- JQUERY.MIN JS -->
    <script src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
    <script src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="js/bootstrap-select.min.js"></script><!-- Form js -->
    <script src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
    <script src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
    <script src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
    <script src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
    <script src="js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
    <script src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
    <script src="js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
    <script src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
    <script src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
    <script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
    <script src="js/lc_lightbox.lite.js"></script><!-- IMAGE POPUP -->
    <script src="js/switcher.js"></script><!-- SHORTCODE FUCTIONS  -->

    <!-- REVOLUTION JS FILES -->

    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

    <!-- REVOLUTION SLIDER SCRIPT FILES -->
    <script src="js/rev-script-10.js"></script>




</body>

</html>