<!DOCTYPE html>

<html lang="en">




<body>

	<div class="page-wraper"> 
    
   {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/about.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">About Us</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                  <a href="/" style="color: #002b49; font-family:inherit;font-weight:600;font-size:23px">  <li >Home</a></li>
                                    <li style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px"> About Us</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- ABOUT SECTION START -->
            <div class="section-full welcome-section-outer">
            	<div class="welcome-section-top bg-white p-t80 p-b50">
                    <div class="container">
                    	<div class="row d-flex justify-content-center">
                        
                        	<div class="col-lg-6 col-md-12 m-b30">
                                <div class="welcom-to-section">
                                    <!-- TITLE START-->
                                    <div class="left wt-small-separator-outer">
                                        <div class="wt-small-separator site-text-primary">
                                            <div  class="sep-leaf-left"></div>
                                            <div>Welcome to Rhosigma</div>
                                            <div  class="sep-leaf-right"></div>
                                        </div>
                                    </div>
                                    <h2>We Are Here to Increase Your Knowledge With Experience</h2>
                                    <!-- TITLE END-->
                                    <ul class="site-list-style-one">
                                        <li>Leading the way: Our vision is to be a leader in the IT solutions industry, setting the standard for excellence in technology innovation and customer service.</li>
                                    	<li>Quality: We're committed to delivering high-quality, reliable IT solutions that meet the highest standards of excellence.</li>
                                      
                                        <!-- <li>Environmental Sensitivity, Personalised Solutions</li> -->
                                    </ul>
                                    
                                    <p>We're dedicated to helping businesses of all sizes harness the power of technology to achieve their goals and drive growth.</p> 
                                    
                                    <!-- <div class="welcom-to-section-bottom d-flex justify-content-between">
                                        <div class="welcom-btn-position"><a href="about-2.html" class="site-button-secondry site-btn-effect">More About</a></div>
                                    </div>    -->
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-12 m-b30">
                            	<div class="img-colarge2 ">
                                	<div class="colarge-2 slide-right ab-img"><img src="images/prodetails/hardware.jpg" alt="" ></div>
                                    <div class="colarge-2-1 ab-img"><img src="images/prodetails/ab2.jpg" alt=""></div>
                                    <div class="since-year-outer2"><div class="since-year2"><span>Since</span><strong>2019</strong></div></div>
                                </div>
                            </div>                              

                        </div>
                    </div> 
                </div>
            </div>   
       
        </div>
        <!-- CONTENT END -->
    

        {{>footer}}

        
    </div>


</body>


</html>
