<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
     {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/prodetails/ble1.png);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Solution Build</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Bluetooth Low Energy </li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- GALLERY SECTION START -->
            <div class="section-full p-t80">
                <div class="container">
                                       
                    <div class="section-content"> 
                    
                        <div class="owl-carousel project-detail-slider owl-btn-vertical-center mfp-gallery">
                        
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="images/prodetails/ble5.webp" style="object-fit: cover" alt="" />
                                </div>
                            </div>
                            
                        
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="images/prodetails/ble2.webp" alt="" />
                                </div>
                            </div>
                            
                          
                        </div>
    
                    </div>   
                                                         
				</div>
            </div>   
            <!-- GALLERY SECTION END -->
            
			<div class="section-full p-t80 p-b50">
                <div class="container">
                    <div class="row d-flex justify-content-center flex-wrap"> 

                         <div class="col-lg-4 col-md-12 m-b30">
                            <div class="project-detail-left bg-gray p-a30">
                                
                                <div class="wt-icon-box-wraper left  m-b10 p-b15  bdr-bottom bdr-gray">
                                  <h4>BLE for Indoor Navigation</h4>
                                  <ul>
                                    <li>Multiple beacons are installed in various strategic points so that overlapping coverage is created</li>
                                    <li>Smart devices are tagged by multiple BLE beacons</li>
                                    <li>Based on the signal strength of multiple endpoints, a precise user location can be determined</li>
                                    <li>Detailed user directions can be delivered to the user’s smart device</li>

                                  </ul>
                                 
                                </div>
                                

                                <div class="wt-icon-box-wraper left  m-b15 p-b15 bdr-1 bdr-bottom bdr-gray">
                                    <h4> BLE for Real Estate Promotions</h4>
                                  
                                    <ul>
                                      <li>Mounting beacons on “for sale” or “for rent” signs can give prospective buyers the opportunity to engage with a property and access detailed information from their mobile device.</li>
                                      <li>Broadcasting lists of other properties managed by the project owner, so potential buyers can see what else you have to offer.</li>
                                      <li>Creating virtual tours of what the completed space might look like, then casting these to mobile devices.</li>
                                     
                                     
                                    </ul>
                                    
                                  </div>
                                                                                           
                                
                            </div>                         	
                        </div>
                        
                         <div class="col-lg-8 col-md-12 m-b30">
							<div class="project-detail-right">
                                <h2 class="m-t0">Bluetooth Low Energy (BLE) </h2>
                                <p>Bluetooth Low Energy (BLE) is one of the most widely used low power connectivity standards. This is due in large part to the explosive growth of the Internet of Things, resulting in a plethora of intelligent personal devices that require common and efficient means of communication. But don't let the fool you. BLE is more than just a smart band. has many commercial and business uses that have made this standard so popular.</p>
                                
                                <h3 class="m-t0">Industrial Applications of BLE </h3>
                                
                                <p>Bluetooth is a robust and easy-to-use technology for industrial wireless applications. It offers flexibility, reliability, security, and the ability to meet industrial needs for coexistence with other technologies such as wireless LAN networks with low power consumption, high speed connectivity, and easy configuration.</p> 
                                <p>Indoor Staffing, Asset and Equipment Identification and Tracking, Warehouse Logistics, Access Control and Production Process Management Emerging Use of BLE Beacons in Industry. Beacon Tag that can be worn as an electronic ID card to wirelessly identify people and assets</p>
                                <ul class="list-check-circle primary">
                                    <li>Reliable and robust communication.</li>
                                    <li>Advanced security features with AFH (adaptive frequency hopping).</li>
                                    <li>Similar configuration and operation of tools that are already used in automation.</li>
                                    <li>High-temperature range.</li>
                                    <li>Coexistence with existing wireless technologies i.e. LAN and Zigbee that als operate in the same frequency band (no interference).</li>
                                </ul>
                                
                               
                            </div> 
                        </div>

                    </div>    
               </div>
            </div>                      
            
        </div>
     
     {{>footer}}
   
        
    </div>





</body>


<!-- Mirrored from thewebmax.org/industro/project-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2023 04:43:09 GMT -->
</html>
