<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
        {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/dtm.png);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>DTM Development</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white">
				<div class="container">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b30">
                               <!-- BLOG START -->
                                <div class="blog-post date-style-2 blog-lg">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="images/services/dtm.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-category"><span>DTM </span> </li>
                                               
                                                
                                            </ul>
                                        </div>                                 
										<div class="wt-post-title ">
                                            <h2 class="post-title">Device Type Manager Development</h2>
                                        </div>
                                       
                                        <div class="wt-post-text">
                                        		<p>DTMs include two types of DTMs: Device DTMs for field devices and Communication DTMs for field communication control. Additionally, the Gateway DTM can be used to connect HART devices via HART multiplexers or PROFIBUS to support communication between devices.</p>
                                                <p>As shown in the diagram, FDT frame applications are to DTMs what Windows Office applications are to printer drivers. A specific printer driver is provided for each printer, and standard interfaces are available for each printer driver. Office applications can print data on any printer through this standard interface. A field device-specific DTM driver is provided with FDT, and standard interfaces can be used with this driver. FDT frame applications such as engineering systems and asset management systems can use Field devices through this FDT interface.</p>
                                     
                                             
                    
                                            <h2 class="post-title">Device DTM</h2>
                                             <center> <img src="images/services/dtm2.jpg" alt=""></center>  
                                             <p>The device DTM mainly provides the following GUI functions:</p>
                                           <ul>
                                            <li>Online Parameter Function</li>
                                            <li>Offline Parameter Function</li>
                                            <li>Process Data Monitor Function</li>
                                            <li>Diagnosis Function</li>
                                           </ul>
                                         
                                         
                                          
                                        
                                            
                                                                                

                                        </div>  
                                                        
                                    </div>
                                </div>
                                
                           
                                 
                            </div> 
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30">
                            
                                <aside  class="side-bar">
                                    
                                       <!-- SEARCH -->
                                       <!-- <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                       <!-- RECENT POSTS -->
                                   
                                       <div class="widget widget_archives p-a20">
                                        <div class="text-left m-b30">
                                            <h3 class="widget-title">Benefits of using Device DTM</h3>
                                        </div>
                                        <ul>
                                          
                                            <li>Simplified device configuration</li>
                                            <li>Improved device diagnostics</li>
                                            <li>Interoperability</li>
                                            <li>Reduced cost</li>
                                            <li>Future-proofing</li>
                                            <li>Standardization</li>

                                            
                                           
                                                                                         
                                        </ul>
                                    </div>  
                                       <!-- Archives -->   
                                       <div class="widget widget_archives p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title"> Device Type Manager </h3>
                                            </div>
                                        
                                          <div class="row">
                                            <div class="col-12 mb-3">
                                                <img src="images/services/dtm 1.jpg" alt="">
                                            </div>
                                          
                                            <div class="col-12">
                                                <img src="images/services/dtmf.jpg" alt="">
                                            </div>
                                            
                                          </div>
                                        </div>                                           
                                                                     
                                                                                
                                  
                                  
                                   </aside>
        
                            </div>
                            <!-- SIDE BAR END -->                         

                                                        
                        </div>
                                                 
                    </div>
                    
                </div>
                
             </div>   
            <!-- OUR BLOG END -->
                
             
            
        </div>
        <!-- CONTENT END -->
        
     {{>footer}}
        
    </div>








</body>


</html>
