<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
  {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/edd.jpeg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/"  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px">Home</a></li>
                                    <li  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px">EDD development for device manufactures</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white">
				<div class="container">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b30">
                               <!-- BLOG START -->
                                <div class="blog-post date-style-2 blog-lg">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="images/services/eddd.png" alt=""></a>
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-category"><span>EDD Development </span> </li>
                                               
                                                
                                            </ul>
                                        </div>                                 
										<div class="wt-post-title ">
                                            <h2 class="post-title">What is EDD?</h2>
                                        </div>
                                       
                                        <div class="wt-post-text">
                                        		<p>An EDD(Electronic Device Description) describes a device somewhat more than a Device Description (DD). EDDL, a text-based language, is used to describe intelligent field devices and device parameters such as diagnostic data, device status and configuration details in a platform/operating system/HMI independent manner. EDDL describes various parameters of field devices such as:</p>
                                                <ul>
                                                    <li>Default value</li>
                                                    <li>Tolerance</li>
                                                    <li>Graphics support for images such as diagrams, figures</li>
                                                    <li>Window support such as tabs, parameter groups</li>
                                                    <li>Possibility of calculations in the form of a complete math library</li>
                                                </ul>
                    
                                            <h2 class="post-title">Why EDDL Host Development is required for Industries?</h2>
                                            <p>Industrial Revolution 4.0 has arrived, and companies are using industrial automation technology in ways never seen before. EDDL is one of the basic languages that enables field device integration by passing information from different types of devices. EDDL supports all major digital fieldbus protocols such as Foundation Fieldbus (FF), HART and Profibus. Simply put, it makes your device information more accessible. Also, his OEM of field devices can make the device easier to understand in a user-friendly visual format.</p>
                                            <img src="images/services/EDDL.png" alt="">
                                         
                                          
                                        
                                            
                                                                                

                                        </div>  
                                                        
                                    </div>
                                </div>
                                
                           
                                 
                            </div> 
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30">
                            
                                <aside  class="side-bar">
                                    
                                       <!-- SEARCH -->
                                       <!-- <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                       <!-- RECENT POSTS -->
                                   
                                       <div class="widget widget_archives p-a20">
                                        <div class="text-left m-b30">
                                            <h3 class="widget-title">Benefits of developing EDDs for device manufacturers:</h3>
                                        </div>
                                        <ul>
                                          
                                            <li>Standardization</li>
                                            <li>Interoperability</li>
                                            <li>Ease of integration</li>
                                            <li>Improved usability</li>
                                            <li>Support for advanced functionality</li>
                                            
                                           
                                                                                         
                                        </ul>
                                    </div>  
                                       <!-- Archives -->   
                                       <div class="widget widget_archives p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title">EDD development </h3>
                                            </div>
                                        
                                          <div class="row">
                                            <div class="col-12 mb-3">
                                                <img src="images/services/edd1.png" alt="">
                                            </div>
                                          
                                            <div class="col-12">
                                                <img src="images/services/edd2.png" alt="">
                                            </div>
                                            
                                          </div>
                                        </div>                                           
                                                                     
                                                                                
                                  
                                  
                                   </aside>
        
                            </div>
                            <!-- SIDE BAR END -->                         

                                                        
                        </div>
                                                 
                    </div>
                    
                </div>
                
             </div>   
            <!-- OUR BLOG END -->
                
             
            
        </div>
        <!-- CONTENT END -->
        
  
        
    {{>footer}}
        
    </div>








</body>



</html>
