<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
       {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/hardware.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/"  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px">Home</a></li>
                                    <li  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px">Hardware Development</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white">
				<div class="container">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b30">
                               <!-- BLOG START -->
                                <div class="blog-post date-style-2 blog-lg">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <img src="images/services/hardware1.png" alt="">
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-category"><span>Hardware  </span> </li>
                                               
                                                
                                            </ul>
                                        </div>                                 
										<div class="wt-post-title ">
                                            <h2 class="post-title">Hardware Development</h2>
                                        </div>
                                       
                                        <div class="wt-post-text">
                                        		<p>This process consists of the following phases: Idea Generation: Define needs or opportunities and proposed solutions. Concept: Clearly define possible solutions and take a user-centric approach. Design: Go from sketch to non-working prototype. Engineering: Develop the product and make sure the works reliably.</p>
                    
                                            <h2 class="post-title">Electronic Devices</h2>
                                            <p>We've built some stunning projects. The following components are among the most common found in electronic devices Microcontroller,Transformer,Switches,etc</p>
                                            <div class="row">
                                                <div class="col-6 hardev">
                                                    <img src="images/services/harddev3.jpg" alt="">
                                                </div>
                                                <div class="col-6 hardev">
                                                    <img src="images/services/hardwareentwickler.jpg" alt="" >
                                                </div>
                                            </div>
                                          
                                        
                                            
                                                                                

                                        </div>  
                                                        
                                    </div>
                                </div>
                                
                           
                                 
                            </div> 
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30">
                            
                                <aside  class="side-bar">
                                    
                                       <!-- SEARCH -->
                                       <!-- <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                       <!-- RECENT POSTS -->
                                   
                                       <div class="widget widget_archives p-a20">
                                        <div class="text-left m-b30">
                                            <h3 class="widget-title">A Hardware Development Guide in 5 stages</h3>
                                        </div>
                                        <ul>
                                            <li>Feasibility</li>
                                            <li> Preliminary Hardware Designing</li>
                                            <li>Prototyping</li>
                                            <li> Design for Manufacturing & Assembly (DFMA)</li>
                                            <li>Manufacturing</li>
                                                                                         
                                        </ul>
                                    </div>  
                                       <!-- Archives -->   
                                       <div class="widget widget_archives p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title">Advantages of Hardware Development</h3>
                                            </div>
                                            <ul>
                                                <li>Tangibility</li>
                                                <li>Reliability</li>
                                                <li>Security</li>
                                                <li> Customization</li>
                                                <li>Scalability</li>
                                                <li>Intellectual Property Protection</li>
                                                                                             
                                            </ul>
                                        </div>                                           
                                                                     
                                                                                
                                  
                                  
                                   </aside>
        
                            </div>
                            <!-- SIDE BAR END -->                         

                                                        
                        </div>
                                                 
                    </div>
                    
                </div>
                
             </div>   
            <!-- OUR BLOG END -->
                
             
            
        </div>
        <!-- CONTENT END -->
     {{>footer}}
        
    </div>





</body>



</html>
