<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
      {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/hart.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>HART protocol Implementation</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white">
				<div class="container">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b30">
                               <!-- BLOG START -->
                                <div class="blog-post date-style-2 blog-lg">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="images/services/hart.png" alt=""></a>
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-category"><span>HART protocol</span> </li>
                                               
                                                
                                            </ul>
                                        </div>                                 
										<div class="wt-post-title ">
                                            <h2 class="post-title">What is HART Protocol?</h2>
                                        </div>
                                       
                                        <div class="wt-post-text">
                                        		<p>HART (Highway Addressable Remote Transducer) communication protocol is a hybrid analog and digital open protocol for industrial automation. Its most notable advantage is its ability to communicate over traditional 4-20mA analog instrument current loops, sharing the cable pairs used in pure analog host systems. HART is widely used in process and instrumentation systems from small automation applications to advanced industrial applications.</p>
                                             
                    
                                            <h2 class="post-title">HART Communication Networks Are Improved by
                                                Flexible, Low-Power Modem ICs</h2>
                                                <img src="images/services/hart pro.jpg" alt="">
                                            <p>Since the dawn of the industrial revolution, there has been a need to measure, control, and communicate with machines and equipment, and instrumentation systems, including sensors and actuators, are becoming the backbone of modern manufacturing facilities. Communication using 4mA to 20mA analog current signals to transmit data and settings over wires has been widely used for a long time.</p>
                                            <p>However, instrumentation has evolved from these purely analog systems to the 'intelligent' systems in use today, with enhanced communication capabilities via the HART® (Highway Addressable Remote Transducer) protocol. Simply put, DC and low-frequency power signals are modulated by independent high-frequency signals that switch between a pair of frequencies in a technique known as frequency shift keying (FSK) </p>
                                         
                                         
                                          
                                        
                                            
                                                                                

                                        </div>  
                                                        
                                    </div>
                                </div>
                                
                           
                                 
                            </div> 
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30">
                            
                                <aside  class="side-bar">
                                    
                                       <!-- SEARCH -->
                                       <!-- <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                       <!-- RECENT POSTS -->
                                   
                                       <div class="widget widget_archives p-a20">
                                        <div class="text-left m-b30">
                                            <h3 class="widget-title">Benefits of using HART protocol</h3>
                                        </div>
                                        <ul>
                                          
                                            <li>Two-way communication</li>
                                            <li>Compatibility</li>
                                            <li>Improved accuracy</li>
                                            <li>Reduced wiring and installation costs</li>
                                            <li>Remote device configuration</li>
                                            <li>Advanced diagnostic capabilities</li>

                                            
                                           
                                                                                         
                                        </ul>
                                    </div>  
                                       <!-- Archives -->   
                                       <div class="widget widget_archives p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title"> HART protocol </h3>
                                            </div>
                                        
                                          <div class="row">
                                            <div class="col-12 mb-3">
                                                <img src="images/services/hart1.jpg" alt="">
                                            </div>
                                          
                                            <div class="col-12">
                                                <img src="images/services/hart3.png" alt="">
                                            </div>
                                            
                                          </div>
                                        </div>                                           
                                                                     
                                                                                
                                  
                                  
                                   </aside>
        
                            </div>
                            <!-- SIDE BAR END -->                         

                                                        
                        </div>
                                                 
                    </div>
                    
                </div>
                
             </div>   
            <!-- OUR BLOG END -->
                
             
            
        </div>
        <!-- CONTENT END -->
        
{{>footer}}
        
    </div>





</body>


</html>
