<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
      {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/hmi.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Product Detail</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Human To Machine Interface</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

			<!-- SERVICE DETAIL SECTION START -->
            
            <div class="section-full small-device  p-t80 p-b50 bg-white">
                <div class="section-content">
                    <div class="container">
                    	<div class="row">
                        
                            <div class="col-lg-4 col-md-12 rightSidebar">
                                <div class="all_services">
                                    <ul>
                                        <li><a href="product">All Product</a></li>
                                        <li><a href="HMI" class="active">Human To Machine Interface</a></li>
                                        <li><a href="RS485">RS485 To USB Converter</a></li> 
                                        <li><a href="lora">LORA</a></li>
                                        <li><a href="IIOT"  >IIOT Modules</a></li>
                                                                        
                                    </ul>
                                </div> 
                                <br>
                                <div class="service-side-btn m-b30 site-bg-white p-a20 text-black">
                                   <h2 class="wt-title">HMI</h2>
									<p> Benefits to using a Human to Machine Interface (HMI), including:</p>
                                    
                                    
                                    <div class="wt-icon-box-wraper left ">
                                        <ul>
                                            <li>Improved safety</li>
                                            <li>Increased efficiency</li>
                                            <li>Consistency</li>
                                            <li>Remote operation</li>
                                            <li>Real-time data</li>
                                            <li>User-friendly</li>
                                        </ul>
                                         
                                    </div>
                                    
                   

                                                                 
                                </div>
                            </div>
                            
                            <div class="col-lg-8 col-md-12">
                                <div class="section-content">
                                    <!-- TITLE START -->
                                    <div class="text-left">
                                        <h2 class="wt-title">Human To Machine Interface</h2>
                                    </div>
                                    <!-- TITLE END -->                                
                                   <div class="wt-box services-etc m-b30">
                                       <p>A Human Machine Interface (HMI) is a user interface or dashboard that connects a person to a machine, system, or device. Although the term can technically be applied to any screen that allows a user to interact with a device, HMI is most commonly used in the context of industrial processes. A HMI is somewhat similar to a graphical user interface (GUI), but is not synonymous. A GUI is often used within his HMI for visualization capabilities.</p>                                   
                           				<div class="wt-media m-b30">
                                   	    	<img src="images/products/hmii.jpg" alt=""> 
                                        </div>
                                        <!-- <div class="wt-info">
                                            <p>Concerned with the development, improvement, and implementation of integrated system of people, money, knowledge, information, equipment, energy, materials, analysis and syn thesis, as well as the mathematical, physical and social sciences together with the principle and methods of engineering design to specify, predict, and evaluate the results to be obtained from such systems or processes.</p>
                                            
                                            <blockquote class="m-a0 bg-gray p-a30">
                                                <i class="fa fa-quote-left font-20"></i>
                                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out
                                                </p>
                                                <div class="p-t15 text-uppercase">
                                                    <strong>William Jomurray</strong>
                                                    <span>Envato Author</span>
                                                </div>
                                              
                                            </blockquote>                                            
                                        </div> -->
                                    </div>
                                   <div class="service-provide">
                                   		<h2>In industrial environments, HMIs can be used for</h2>
                                        <p>Just as they operate air conditioners to check and control the temperature in their homes, plant operators use HMIs to check and control the temperature of domestic hot water tanks, or to determine if certain pumps are working in the plant. You can check whether currently running.</p>
                                        <div class="row">
                                        
                                            <div class="col-md-6">
                                                <ul class="list-angle-right">
                                                    <li>View data visually.</li>
                                                    <li>Track production times, trends and tags.</li>
                                                    <li>Monitor KPIs</li>
                                                    <li> View machine inputs and outputs Monitoring</li>
                                                </ul>
                                             </div> 
                                                                                       
                                        	<div class="col-md-6">
                                                <div class="wt-media m-b30">
                                                    <img src="images/products/hmi11.jpg" alt=""> 
                                                </div>                                            
                                            </div>

                                        </div>
                                   </div>
                                   
									
                                   <div>
                                   		<!-- <h2>Research</h2> -->
                                        <div class="wt-accordion acc-bg-gray" id="accordion5">
                                            <div class="panel wt-panel">
                                                <div class="acod-head acc-actives">
                                                     <h4 class="acod-title">
                                                        <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" >
                                                            Who Uses HMI?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                        </a>
                                                     </h4>
                                                </div>
                                                <div id="collapseOne5" class="acod-body collapse show bg-gray">
                                                    <div class="acod-content p-a15">Almost all industrial organizations, as well as various other companies, use HMI technology to interact with machines and optimize industrial processes.</div>
                                                </div>
                                            </div>
                                            <div class="panel wt-panel">
                                                <div class="acod-head">
                                                     <h4 class="acod-title">
                                                        <a data-toggle="collapse" href="#collapseTwo5" class="collapsed" data-parent="#accordion5" >
                                                            What is the difference between HMI and SCADA?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                        </a>
                                                     </h4>
                                                </div>
                                                <div id="collapseTwo5" class="acod-body collapse bg-gray">
                                                    <div class="acod-content p-a15">CADA (Supervisory Control and Data Acquisition) and HMI are closely related and are both part of a larger industrial control system, but are often referred to in the same context as they provide different functions and capabilities. It often happens.</div>
                                                </div>
                                            </div>
                                            <!-- <div class="panel wt-panel">
                                                <div class="acod-head">
                                                    <h4 class="acod-title">
                                                    <a data-toggle="collapse"  href="#collapseThree5" class="collapsed"  data-parent="#accordion5">
                                                    Was our client satisfy?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                    </a>
                                                 </h4>
                                                </div>
                                                <div id="collapseThree5" class="acod-body collapse bg-gray">
                                                    <div class="acod-content p-a15">Developement lorem Ipsum is simply dummy text of the printing and type has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make.</div>
                                                </div>
                                            </div> -->
                                        </div>                                   
                                   </div> 
                                  
                                </div>
                            </div>
                        </div>                            
                    </div>                                 
                </div>
            </div>   
            <!-- SERVICE DETAIL SECTION END --> 
            
        </div>
        <!-- CONTENT END -->
        
{{>footer}}
        
    </div>





</body>



</html>
