<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
      {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/Industrial-IoT.png);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Product Detail</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li> Industrial IoT</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

			<!-- SERVICE DETAIL SECTION START -->
            <div class="section-full small-device  p-t80 p-b50 bg-white">
                <div class="section-content">
                    <div class="container">
                    	<div class="row">
                        
                            <div class="col-lg-4 col-md-12 rightSidebar">
                                <div class="all_services">
                                    <ul>
                                        <li><a href="product">All Product</a></li>
                                        <li><a href="HMI">Human To Machine Interface</a></li>
                                        <li><a href="RS485">RS485 To USB Converter</a></li> 
                                        <li><a href="lora" >LORA</a></li>
                                        <li><a href="IIoT"  class="active">IIOT Modules</a></li>
                                                                        
                                    </ul>
                                </div> 
                                <br>
                                <div class="service-side-btn m-b30 site-bg-white p-a20 text-black">
                                   <h2 class="wt-title">IIOT</h2>
									<p> Industrial IoT (Internet of Things) has many benefits for industries, including:</p>
                                    
                                    
                                    <div class="wt-icon-box-wraper left ">
                                        <ul>
                                            <li>Improved safety</li>
                                            <li>Increased efficiency</li>
                                            <li>Predictive maintenance</li>
                                            <li>Cost savings</li>
                                            <li>Remote monitoring</li>
                                            <li>Enhanced product quality</li>
                                        </ul>
                                         
                                    </div>
                                    
                   

                                                                 
                                </div>
                            </div>
                            
                            <div class="col-lg-8 col-md-12">
                                <div class="section-content">
                                    <!-- TITLE START -->
                                    <div class="text-left">
                                        <h2 class="wt-title">What Is Industrial IoT (IIoT)?</h2>
                                    </div>
                                    <!-- TITLE END -->                                
                                   <div class="wt-box services-etc m-b30">
                                       <p>Industrial IoT is an ecosystem of devices, sensors, applications, and related network devices that work together to collect, monitor, and analyze data from industrial operations. Analyzing such data helps increase visibility and improve troubleshooting and maintenance capabilities. It can also make your more efficient, reduce costs, and improve security.</p>                                   
                           				<div class="wt-media m-b30">
                                   	    	<img src="images/products/iiot.jpg" alt=""> 
                                        </div>
                                        <!-- <div class="wt-info">
                                            <p>Concerned with the development, improvement, and implementation of integrated system of people, money, knowledge, information, equipment, energy, materials, analysis and syn thesis, as well as the mathematical, physical and social sciences together with the principle and methods of engineering design to specify, predict, and evaluate the results to be obtained from such systems or processes.</p>
                                            
                                            <blockquote class="m-a0 bg-gray p-a30">
                                                <i class="fa fa-quote-left font-20"></i>
                                                <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer gregor then turned to look out
                                                </p>
                                                <div class="p-t15 text-uppercase">
                                                    <strong>William Jomurray</strong>
                                                    <span>Envato Author</span>
                                                </div>
                                              
                                            </blockquote>                                            
                                        </div> -->
                                    </div>
                                   <div class="service-provide">
                                   		<h2>Why should businesses consider adopting Industrial IoT?</h2>
                                        <p>Industrial IoT enables businesses to get rich actionable data from their operations. Well-aggregated and analyzed data can help improve operational management with the potential to: </p>
                                        <div class="row">
                                        
                                            <div class="col-md-6">
                                                <ul class="list-angle-right">
                                                    <li>Improve occupational safety.</li>
                                                    <li>Improve production availability through predictive maintenance of machinery.</li>
                                                    <li>Maintain product quality.</li>
                                                    <li>Help ensure regulatory compliance.</li>
                                                    <li>Reduced response time by collecting and processing real-time operational data</li>
                                                </ul>
                                             </div> 
                                                                                       
                                        	<div class="col-md-6">
                                                <div class="wt-media m-b30">
                                                    <img src="images/products/iiot1.png" alt=""> 
                                                </div>                                            
                                            </div>

                                        </div>
                                   </div>
                                   
									
                                   <div>
                                   		<!-- <h2>Research</h2> -->
                                        <div class="wt-accordion acc-bg-gray" id="accordion5">
                                            <div class="panel wt-panel">
                                                <div class="acod-head acc-actives">
                                                     <h4 class="acod-title">
                                                        <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" >
                                                            How is industrial IoT different from other types of IoT?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                        </a>
                                                     </h4>
                                                </div>
                                                <div id="collapseOne5" class="acod-body collapse show bg-gray">
                                                    <div class="acod-content p-a15">The IIoT connects machines and devices in industries such as manufacturing, transportation, oil and gas, power generation and transmission, mining and ports. Commercial, enterprise, or consumer IoT (also known simply as IoT) is used to describe connected devices in homes and offices. B. Cameras, badge readers, s, and HVAC control systems. IIoT failures can be catastrophic, risky, and create potentially life-threatening situations. Downtime of other his IoT devices can cause inconvenience, but emergencies generally do not occur .</div>
                                                </div>
                                            </div>
                                            <div class="panel wt-panel">
                                                <div class="acod-head">
                                                     <h4 class="acod-title">
                                                        <a data-toggle="collapse" href="#collapseTwo5" class="collapsed" data-parent="#accordion5" >
                                                            What are the risks to IIoT systems?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                        </a>
                                                     </h4>
                                                </div>
                                                <div id="collapseTwo5" class="acod-body collapse bg-gray">
                                                    <div class="acod-content p-a15">Many security problems associated with the IIoT stem from a lack of basic security measures in place. Security gaps like exposed ports, inadequate authentication practices, and obsolete applications contribute to the emergence of risks. Combine these with having the network directly connected to the internet and more potential risks are invited.</div>
                                                </div>
                                            </div>
                                            <!-- <div class="panel wt-panel">
                                                <div class="acod-head">
                                                    <h4 class="acod-title">
                                                    <a data-toggle="collapse"  href="#collapseThree5" class="collapsed"  data-parent="#accordion5">
                                                    Was our client satisfy?<span class="indicator"><i class="fa fa-plus"></i></span>
                                                    </a>
                                                 </h4>
                                                </div>
                                                <div id="collapseThree5" class="acod-body collapse bg-gray">
                                                    <div class="acod-content p-a15">Developement lorem Ipsum is simply dummy text of the printing and type has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make.</div>
                                                </div>
                                            </div> -->
                                        </div>                                   
                                   </div> 
                                  
                                </div>
                            </div>
                        </div>                            
                    </div>                                 
                </div>
            </div>   
            <!-- SERVICE DETAIL SECTION END --> 
            
        </div>
        <!-- CONTENT END -->
  
  {{>footer}}
        
    </div>






</body>



</html>
