<!DOCTYPE html>
<html lang="en">





<body>

	<div class="page-wraper">
     

                	{{>navbar}}
     
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- SLIDER START --> 
            <div class="slider-outer">

                <div class="main-slider style-two default-banner">
                    <div class="tp-banner-container">
                        <div class="tp-banner" >
                            <!-- START REVOLUTION SLIDER 5.4.1 -->
                            <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">

                                <div id="rev_slider_26_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
                                    <ul>	
                                        <!-- SLIDE 1 -->
                                        <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide">

                                        <!-- MAIN IMAGE -->
                                        <img src="images/main-slider/slider10/slide1-blur.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg">
                                        <!-- LAYERS -->
                                        
                                        <!-- LAYER 1 [ for overlay ] -->
                                        <div class="tp-caption tp-shape tp-shapewrapper " 
                                            id="slide-73-layer-1" 
                                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                            data-height="full"
                                            data-whitespace="nowrap"
                                            data-type="shape" 
                                            data-basealign="slide" 
                                            data-responsive_offset="off" 
                                            data-responsive="off"
                                            data-frames='[
                                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                            ]'
                                            data-textAlign="['left','left','left','left']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            
                                            style="z-index:2;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> 
                                        </div>  

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption   tp-resizeme" 
                                            id="slide-73-layer-2" 
                                            data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-200','-200']" 
                                            data-width="['650','650','620','380']"
                                            data-height="none"
                                            data-whitespace="normal"
                                    
                                            data-type="text" 
                                            data-responsive_offset="on" 
                                    
                                            data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                            data-textAlign="['left','left','center','center']"
                                            data-paddingtop="[10,10,10,10]"
                                            data-paddingright="[20,20,20,20]"
                                            data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[20,20,20,20]"
                                    
                                            style="z-index: 7; font-size: 24px; line-height: 24px; font-weight: 600; color: #ffffff; letter-spacing: 4px;font-family: 'Teko', sans-serif;">Highly Secure</div>
                                    
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption   tp-resizeme" 
                                            id="slide-73-layer-3" 
                                            data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-100','-120']" 
                                            data-fontsize="['100','100','60','40']"
                                            data-lineheight="['100','100','60','40']"
                                            data-width="['700','650','620','380']"
                                            data-height="none"
                                            data-whitespace="normal"
                                    
                                            data-type="text" 
                                            data-responsive_offset="on" 
                                    
                                            data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":5,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                            data-textAlign="['left','left','center','center']"
                                            data-paddingtop="[20,20,20,20]"
                                            data-paddingright="[20,20,20,20]"
                                            data-paddingbottom="[30,30,30,30]"
                                            data-paddingleft="[20,20,20,20]"
                                    
                                            style="z-index: 8;  font-weight: 800; color: #ffffff; font-family: 'Teko', sans-serif;">Innovative Solutions
                                        </div>                                        
                                                                    
                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption rev-btn  tp-resizeme" 
                                            id="slide-73-layer-4" 
                                            data-x="['left','left','center','center']" data-hoffset="['25','25','0','00']" 
                                            data-y="['middle','middle','middle','middle']" data-voffset="['150','150','50','-30']" 
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace=""
                                    
                                            data-type="button" 
                                            data-responsive_offset="on" 
                                    
                                            data-frames='[{"delay":500,"speed":1000,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"},
                                            {"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                                            data-textAlign="['inherit','inherit','inherit','inherit']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[30,30,30,30]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[30,30,30,30]"
                                    
                                            style="z-index: 10; font-size: 18px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1);
                                            letter-spacing: 2px;font-family: 'Poppins', sans-serif; border-color:rgb(255,255,255); 
                                            border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;
                                            box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="webapp" style="color:#46bfe8;">Read More</a> </div>
                                    
                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
                                            id="slide-73-layer-5" 
                                            data-x="['center','center','center','center']" data-hoffset="['500','500','0','0']" 
                                            data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','50','50']" 
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                    
                                            data-type="image" 
                                            data-responsive_offset="on" 
                                    
                                            data-frames='[{"delay":400,"speed":750,"sfxcolor":"#000","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                            data-textAlign="['inherit','inherit','inherit','inherit']"
                                            data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                    
                                            style="z-index: 6;">
                                            <img src="images/products/sofware.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['480px','480px','450','281']" width="1200" height="675" data-no-retina>
                                        </div>
                                    

                                        </li>

                                        <!-- SLIDE 2 -->
                                        <li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide">

                                            <!-- MAIN IMAGE -->
                                            <img src="images/main-slider/slider10/slide2-blur.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg">
                                            <!-- LAYERS -->
                                            
                                            <!-- LAYER 1 [ for overlay ] -->
                                            <div class="tp-caption tp-shape tp-shapewrapper " 
                                                id="slide-74-layer-1" 
                                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                                data-width="full"
                                                data-height="full"
                                                data-whitespace="nowrap"
                                                data-type="shape" 
                                                data-basealign="slide" 
                                                data-responsive_offset="off" 
                                                data-responsive="off"
                                                data-frames='[
                                                {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                                {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                                ]'
                                                data-textAlign="['left','left','left','left']"
                                                data-paddingtop="[0,0,0,0]"
                                                data-paddingright="[0,0,0,0]"
                                                data-paddingbottom="[0,0,0,0]"
                                                data-paddingleft="[0,0,0,0]"
                                                
                                                style="z-index:2;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> 
                                            </div>  

                                            <!-- LAYER NR. 2 -->
                                            <div class="tp-caption   tp-resizeme" 
                                                id="slide-74-layer-2" 
                                                data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                                data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-200','-200']" 
                                                data-width="['650','650','620','380']"
                                                data-height="none"
                                                data-whitespace="normal"
                                        
                                                data-type="text" 
                                                data-responsive_offset="on" 
                                        
                                                data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                                data-textAlign="['left','left','center','center']"
                                                data-paddingtop="[10,10,10,10]"
                                                data-paddingright="[20,20,20,20]"
                                                data-paddingbottom="[10,10,10,10]"
                                                data-paddingleft="[20,20,20,20]"
                                        
                                                style="z-index: 7; font-size: 24px; line-height: 24px; font-weight: 600; color: #ffffff; letter-spacing: 4px;font-family: 'Teko', sans-serif;">High Performance</div>
                                        
                                            <!-- LAYER NR. 3 -->
                                            <div class="tp-caption   tp-resizeme" 
                                                id="slide-74-layer-3" 
                                                data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-100','-120']" 
                                                data-fontsize="['100','100','60','40']"
                                                data-lineheight="['100','100','60','40']"
                                                data-width="['700','650','620','380']"
                                                data-height="none"
                                                data-whitespace="normal"
                                        
                                                data-type="text" 
                                                data-responsive_offset="on" 
                                        
                                                data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                                data-textAlign="['left','left','center','center']"
                                                data-paddingtop="[20,20,20,20]"
                                                data-paddingright="[20,20,20,20]"
                                                data-paddingbottom="[30,30,30,30]"
                                                data-paddingleft="[20,20,20,20]"
                                        
                                                style="z-index: 8;  font-weight: 800; color: #ffffff; font-family: 'Teko', sans-serif; ">Enhance Efficiency
                                            </div>                                        
                                                                        
                                            <!-- LAYER NR. 4 -->
                                            <div class="tp-caption rev-btn  tp-resizeme" 
                                                id="slide-74-layer-4" 
                                                data-x="['left','left','center','center']" data-hoffset="['25','0','0','0']" 
                                                data-y="['middle','middle','middle','middle']" data-voffset="['150','150','50','-30']" 
                                                data-width="none"
                                                data-height="none"
                                                data-whitespace=""
                                        
                                                data-type="button" 
                                                data-responsive_offset="on" 
                                        
                                                data-frames='[{"delay":500,"speed":1000,"sfxcolor":"#ddd","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"},
                                                {"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
                                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                                data-paddingtop="[0,0,0,0]"
                                                data-paddingright="[30,30,30,30]"
                                                data-paddingbottom="[0,0,0,0]"
                                                data-paddingleft="[30,30,30,30]"
                                        
                                                style="z-index: 10; font-size: 18px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1);
                                                letter-spacing: 2px;font-family: 'Poppins', sans-serif; border-color:rgb(255,255,255);
                                                border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;
                                                box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"> <a href="fota" style="color:#46bfe8;">Read More</a> </div>
                                        
                                            <!-- LAYER NR. 5 -->
                                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
                                                id="slide-74-layer-5" 
                                                data-x="['center','center','center','center']" data-hoffset="['500','500','0','0']" 
                                                data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','50','50']" 
                                                data-width="none"
                                                data-height="none"
                                                data-whitespace="nowrap"
                                        
                                                data-type="image" 
                                                data-responsive_offset="on" 
                                        
                                                data-frames='[{"delay":400,"speed":750,"sfxcolor":"#000","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                                data-paddingtop="[0,0,0,0]"
                                                data-paddingright="[0,0,0,0]"
                                                data-paddingbottom="[0,0,0,0]"
                                                data-paddingleft="[0,0,0,0]"
                                        
                                                style="z-index: 6;">
                                                <img src="images/main-slider//flimware over air.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['480px','480px','450','281']" width="1200" height="675" data-no-retina>
                                            </div>
                                        

                                            </li>                                        

                                    </ul>
                                    <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>	
                                </div>

                            </div>
                    </div>
                    </div>
                </div>

            </div>
            <!-- SLIDER END --> 

            <!-- CALL US SECTION START -->
            <div class="section-full p-t80 p-b50 bg-gray-light">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head center wt-small-separator-outer text-center">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div>Call Us And get it done!</div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>We Have 05+ Years Industrial Experiences</h2>
                    </div>
                    <!-- TITLE END--> 

                   <div class="section-content">
                        <div class="icon-circle-box-outer bg-white p-a30 m-b30">
                            <div class="row justify-content-center ">
                                <div class="col-lg-4 col-md-6 col-sm-12 ">
                                    <div class="icon-circle-box v-icon-effect">
                                        <div class="wt-icon-box-wraper center">
                                            <div class="icon-md icon-circle">
                                                <span class="icon-cell">
                                                    <i class="flaticon-call v-icon "></i>
                                                </span>
                                            </div>
                                            <div class="icon-content relative">
                                                <h4 class="wt-tilte">Have a question? call us now</h4>
                                                <span class="icon-count-number">1</span>
                                                <p>8655587403/8097390322</p>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="icon-circle-box v-icon-effect">
                                        <div class="wt-icon-box-wraper center">
                                            <div class="icon-md icon-circle">
                                                <span class="icon-cell">
                                                    <i class="flaticon-mail v-icon "></i>
                                                </span>
                                            </div>
                                            <div class="icon-content relative">
                                                <h4 class="wt-tilte">Need support? Drop us an Email</h4>
                                                    <span class="icon-count-number">2</span>
                                                <p>info@rhosigma.in</p>
                                            </div>
                                        </div>
                                    </div>                          
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="icon-circle-box  v-icon-effect">
                                        <div class="wt-icon-box-wraper center">
                                            <div class="icon-md icon-circle">
                                                <span class="icon-cell">
                                                    <i class="flaticon-history v-icon "></i>
                                                </span>
                                            </div>
                                            <div class="icon-content relative">
                                                <h4 class="wt-tilte">We are open on</h4>
                                                <span class="icon-count-number">3</span>
                                                <p><span >Mon - Sat  09:30 - 06:30</span></p>
                                                
                                            </div>
                                        </div>
                                    </div>                          
                                </div>  

                            </div>                          
                        </div>                                                            
                   </div>
               
               </div>
            </div>
            <!-- CALL US SECTION END -->
           
            <!-- ABOUT ONE SECTION START -->
            <div class="section-full p-t80 p-b50 bg-no-repeat bg-center bg-white">
                <div class="about-section-three">
                    <div class="container">
                        <div class="section-content">                 
                            <div class="row justify-content-center d-flex">
                            
                                <div class="col-lg-6 col-md-12 m-b30">
                                    <div class="about-max-three">
                                        <div class="about-max-three-media ab-img"><img src="images/products/abouthard.jpg" alt="aboutimage" ></div>
                                        <div class="about-three">
                                            <div class="about-year">
                                                <div class="about-year-info">
                                                    <span class="icon-md p-t10">
                                                        <i class="flaticon-industry"></i>
                                                    </span>
                                                    <h3 class="wt-tilte">Running Business Since 2019</h3>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                                    
                                <div class="col-lg-6 col-md-12 m-b30">
                                    <div class="about-section-three-right">
                                        <!-- TITLE START-->
                                        <div class="left wt-small-separator-outer">
                                            <div class="wt-small-separator site-text-primary">
                                                <div  class="sep-leaf-left"></div>
                                                <div>About Us</div>
                                                <div  class="sep-leaf-right"></div>
                                            </div>
                                            <h2>We Provide top IT & industrial Services.</h2>

                                        </div>                                    
                                        <!-- TITLE END-->

                                    
                                         <!-- Accordian -->
                                        <div class="wt-accordion acc-bg-gray m-b50 about-section-three-acc" id="accordion">
                                            <div class="panel wt-panel">
                                              <div class="acod-head acc-actives" id="headingOne">
                                                <h5 class="acod-title">
                                                  <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Quality Control System, 100% Guarantee
                                                    <span class="indicator"><i class="fa"></i></span>
                                                  </a>
                                                </h5>
                                              </div>
                                          
                                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="acod-content p-tb15">
                                                    "There is nothing more important than our customers. We guarantee 100% satisfaction and stand behind our products and services."
                                                </div>
                                              </div>
                                            </div>
                                            <div class="panel wt-panel">
                                              <div class="acod-head" id="headingTwo">
                                                <h5 class="mb-0">
                                                  <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Highly Modified Equipment
                                                    <span class="indicator"><i class="fa"></i></span>
                                                  </a>
                                                </h5>
                                              </div>
                                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="acod-content p-tb15">
                                                    "We specialize in creating custom equipment that is tailored to your specific needs and exceeds your expectations."
                                                </div>
                                              </div>
                                            </div>
                                            <div class="panel wt-panel">
                                              <div class="acod-head" id="headingThree">
                                                <h5 class="mb-0">
                                                  <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Customer support 
                                                    <span class="indicator"><i class="fa"></i></span>
                                                  </a>
                                                </h5>
                                              </div>
                                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="acod-content p-tb15">
                                                    "We understand that your time is valuable, which is why our customer support team strives to provide quick and efficient service".
                                                </div>
                                              </div>
                                            </div>
                                        </div>                                    

                                        <div class="ab-three-info d-flex justify-content-between">
                                            <div class="welcom-btn-position m-t20"><a href="about" class="site-button site-btn-effect">More About</a></div>
                                            <!-- <img src="images/ui-10/sign.png" alt=""> -->
                                        </div>
                                                                    
                                    </div>
                                                                                    

                                </div>

                                
                        </div>
                    </div> 
                </div>
                </div>
            </div>   
            <!-- ABOUT ONE SECTION END --> 
      
 


            <!-- OUR PROJECTS SECTION START -->
            <div class="section-full  p-t80 p-b80 bg-gray-light">
                <div class="container">

                    <div class="wt-separator-two-part">
                    	<div class="row wt-separator-two-part-row">
                        	<div class="col-lg-8 col-md-7 wt-separator-two-part-left">
                                <!-- TITLE START-->
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div class="sep-leaf-left"></div>
                                        <div>Our Latest Projects</div>
                                        <div class="sep-leaf-right"></div>
                                    </div>
                                    <h2>Recently Completed Projects</h2>
                                </div>
                                <!-- TITLE END-->
                            </div>
                            <div class="col-lg-4 col-md-5 wt-separator-two-part-right text-right">
                            	<a href="project" class="site-button site-btn-effect">More Detail</a>
                            </div>
                    	</div>
                    </div>

                </div> 
                    
                <div class="section-content">
                    
                    <div class="container-fluid">	
                        <div class="projects-slider-two">
                            <div class="owl-carousel projects-carousel-two owl-btn-vertical-center">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/donepro/website.webp" alt="webapp">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="webapp">Website Development</a></h3>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/donepro/andorid.webp" alt="mobileapp">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="mobileapp">Andorid App Development</a></h3>
                                    </div>
                                </div>                                
                                
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/services/harddev3.jpg" alt="hardware">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="hardware" >Hardware Development</a></h3>
                                    </div>
                                </div>                                
                                
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/donepro/iot3.jpg" alt="IOT">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="Iot">IoT Solution Development </a></h3>
                                    </div>
                                </div>                                
                                
                                <!-- COLUMNS 5 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/gallery/hart.jpg" alt="hart" style="object-fit: fill;">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="hart">Hart protocol</a></h3>
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 6 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/donepro/embedded-firmware-development.jpg" alt="">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="firware">Firware Development</a></h3>
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 7 -->
                                <div class="item">
                                    <div class="projects-two-info bg-white">
                                        <div class="wt-media img-reflection">
                                            <img src="images/donepro/usb to rs484.jpg" alt="rs485">
                                        </div>
                                        <h3 class="wt-tilte m-t0" ><a href="RS485">USB to RS485</a></h3>
                                    </div>
                                </div>                                                                                                
                                                                                                                                                                
                            </div>                        
                        </div>
                    </div>
                </div>

            </div>   
            <!-- OUR PROJECTS SECTION END --> 
            
            <!-- SERVICE SECTION START -->
            <div class="section-full p-t80 p-b50 bg-white">
                    
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head center wt-small-separator-outer text-center">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div>The Best Industry & IT Services</div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>High Performance Services For Multiple Company!</h2>
                    </div>
                    <!-- TITLE END--> 

                   <div class="section-content">
                        <div class="row justify-content-center">

                            <!-- COLUMNS 1 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">

                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary"><img src="images/icon/desktop.png" alt="webdev" ></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>01</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">Web Development</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>Our website services are designed to help your business grow and succeed in the ever-evolving online world.</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="webapp" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/website.webp);"></div>
                                    
                                </div>
                            </div>
                            
                            <!-- COLUMNS 2 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">
                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary icon-img"><img src="images/icon/app dev.png" alt="app dev"></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>02</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">App Development</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>We have a highly skilled team developing custom mobile applications for Android and iOS platforms.</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="mobileapp" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/andorid.webp);"></div>
                                    
                                </div>
                            </div>                            
                            
                            <!-- COLUMNS 3 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">
                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary"><img src="images/icon/firware.png" alt="firware"></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>03</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">Firware Development</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>Firmware development requires a deep understanding of hardware, software, and the interactions between them.</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="firmware" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/embedded-firmware-development.jpg);"></div>
                                    
                                </div>
                            </div>                            
                            
                            <!-- COLUMNS 4 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">
                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary"><img src="images/icon/iiot.png" alt="wifi"></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>04</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">Industrial Wifi</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>Industrial Internet of Things. A term for connected devices in manufacturing, energy, and other industrial practices.</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="wifi" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/industrail\ wifi.gif);"></div>
                                    
                                </div>
                            </div>
                                                        
                            <!-- COLUMNS 5 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">
                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary"><img src="images/icon/indiot.png" alt="Iot"></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>05</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">Industrial Iot</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>The Industrial IoT is an ecosystem of devices, sensors, and more that work together to collect, and analyze data..</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="IIOT" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/iot3.jpg);"></div>
                                    
                                </div>
                            </div>                            
                            
                            <!-- COLUMNS 6 --> 
                            <div class="col-lg-4 col-md-6 m-b30 animate_line">
                                <div class="wt-box service-box-1-new bg-white cardbg">
                                    <div class="wt-icon-box-wraper-new">
                                        <div class="icon-xl inline-icon">
                                            <span class="icon-cell site-text-primary"><img src="images/icon/ble.png" alt="ble"></span>
                                        </div>
                                        {{!-- <div class="wt-icon-number-new"><span>06</span></div> --}}
                                    </div>   
                                                                                    
                                    <div class="service-box-title-new title-style-2 site-text-secondry">
                                        <h3 class="s-title-one">BLE</h3>
                                    </div>
                                    
                                    <div class="service-box-content-new">
                                        <p>BLE is a low-power, short-range wireless communication technology that enables new applications for connected devices</p>
                                    </div>
                                    <div class="service-box-new-link">
                                        <a href="ble" class="site-button-link">Read More</a>
                                    </div>
                                    <div class="cardbg-pic" style="background-image: url(images/donepro/ble.jpg);"></div>
                                    
                                </div>
                            </div>                            

                        </div>
                                                                                    
                   </div>
               
               </div>
            </div>
            <!-- SERVICES SECTION END -->            


            <!-- QUALITY SECTION START -->
            <div class="section-full p-t80">
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head center wt-small-separator-outer text-center">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div>About Quality</div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>We're about Quality and Trust.</h2>
                    </div>
                    <!-- TITLE END-->
                </div>  
                            
                <div class="section-content quality-section-outer bg-gray-light">
                    <div class="container">
                        <div class="quality-section-content">

                            <div class="counter-outer">
                                <div class="row justify-content-center">
                                            
                                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30 ">
                                        <div class="wt-icon-box-wraper center bg-gray-light p-a20">
                                            <h2 class="counter site-text-primary m-b0">60</h2>
                                            <span class="site-text-secondry title-style-2">Projects Completed</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                        <div class="wt-icon-box-wraper center bg-gray-light p-a20">
                                            <h2 class="counter site-text-primary  m-b0">40</h2>
                                            <span class="site-text-secondry title-style-2">Work Employed</span>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                        <div class="wt-icon-box-wraper center bg-gray-light p-a20">
                                            <h2 class="counter site-text-primary  m-b0" >120</h2>
                                            <span class="site-text-secondry title-style-2">Work facilities</span>
                                        </div>
                                    </div> -->
                                    
                                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                        <div class="wt-icon-box-wraper center bg-gray-light p-a20">
                                            <h2 class="counter site-text-primary  m-b0" >12</h2>
                                            <span class="site-text-secondry title-style-2">Winning Awards</span>
                                        </div>
                                    </div>                                        

                                </div>
                            </div>

                        </div>
                        
                        <!-- <div class="quality-video2-section p-t20 p-b80">
                            
                            <div class="quality-video2">
                                <img src="images/donepro/andorid.webp" alt="">
                                <a href="https://www.youtube.com/live/ISaI699CQdI?feature=share" class="mfp-video play-now">
                                    <i class="icon fa fa-play"></i>
                                    <span class="ripple"></span>
                                </a>                                  
                            </div>
                        </div> -->

                    </div>
                </div>      
            </div>   
            <!-- QUALITY SECTION END -->  

			<!-- OUR TEAM START -->
            <!-- <div class="section-full p-t80 p-b50 bg-white arc2-team-wrapper">
                <div class="container">
                    <div class="section-content">
                    
                 
                    <div class="section-head center wt-small-separator-outer text-center">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div>Our Experts</div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>We will serve you with the best of our capacity by expert team</h2>
                    </div>
                  
                               
                    <div class="section-content">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            	<div class="wt-team-arc2 wt-team-arc2-no-border">
                                	
                                    <div class="wt-media">
                                        <img src="images/ui-10/our-team1/1.jpg" alt="">
										<div class="team-social-center">
                                            <ul class="team-social-icon">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
												<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>                                                
                                            </ul>
                                        </div>                                                
                                    </div>                                   

                                    <div class="wt-info bg-gray-light p-a20">
                                        <div class="team-detail  text-center">
                                            <h4 class="m-t0">Taminm Alows</h4>
                                            <p>Architect</p>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            	<div class="wt-team-arc2 wt-team-arc2-no-border">
                                	
                                    <div class="wt-media">
                                        <img src="images/ui-10/our-team1/2.jpg" alt="">
                                        <div class="team-social-center">
                                            <ul class="team-social-icon">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
												<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li> 
                                            </ul>
                                        </div>
                                    </div>                                   

                                    <div class="wt-info bg-gray-light p-a20">
                                        <div class="team-detail  text-center">
                                            <h4 class="m-t0">Michael Evens</h4>
                                            <p>Architect</p>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            	<div class="wt-team-arc2 wt-team-arc2-no-border">
                                	
                                    <div class="wt-media">
                                        <img src="images/ui-10/our-team1/3.jpg" alt="">
                                        <div class="team-social-center">
                                            <ul class="team-social-icon">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
												<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li> 
                                            </ul>
                                        </div>
                                    </div>                                   

                                    <div class="wt-info bg-gray-light p-a20">
                                        <div class="team-detail  text-center">
                                            <h4 class="m-t0">Pamela Smith</h4>
                                            <p>Architect</p>
                                        </div>
                                    </div>
                            
                                </div>
                            </div> 
                            
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            	<div class="wt-team-arc2 wt-team-arc2-no-border">
                                	
                                    <div class="wt-media">
                                        <img src="images/ui-10/our-team1/4.jpg" alt="">
										<div class="team-social-center">
                                            <ul class="team-social-icon">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
												<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>                                                
                                            </ul>
                                        </div>                                                
                                    </div>                                   

                                    <div class="wt-info bg-gray-light p-a20">
                                        <div class="team-detail  text-center">
                                            <h4 class="m-t0">Taminm Alows</h4>
                                            <p>Architect</p>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>                                                                                   
                            
                        </div>
                    </div>      
                        
                    </div>
                </div>
            </div>    -->
            <!-- OUR TEAM SECTION END -->             
            
			<!-- OUR BLOG START -->
            <!-- <div class="section-full  p-t80 p-b50  bg-gray-light latest-blog-2-wraper">
				<div class="container">
                
                	<div class="wt-separator-two-part">
                    	<div class="row wt-separator-two-part-row">
                        	<div class="col-lg-6 col-md-7 wt-separator-two-part-left">
                               
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div  class="sep-leaf-left"></div>
                                        <div>Latest Articles Updated Daily</div>
                                        <div  class="sep-leaf-right"></div>
                                    </div>
                                    <h2>We Are Here To Learn You More From Blog</h2>
                                </div>
                      
                            </div>
                            <div class="col-lg-6 col-md-5 wt-separator-two-part-right text-right">
                            	<a href="blog-grid.html" class="site-button site-btn-effect">More Detail</a>
                            </div>
                    	</div>
                    </div>
     

                    <div class="section-content">
                        <div class="row justify-content-center">

                            <div class="col-lg-5 col-md-12">
                               
                                
                                <div class="latest-blog-3-pattern">
                                    <div class="blog-post latest-blog-3 overlay-wraper post-overlay  large-date bg-cover bg-no-repeat bg-top-center" style="background-image:url(images/ui-9/latest-blog/bg-1.jpg);">
                                        <div class="overlay-main opacity-05 bg-black"></div>
                                        <div class="wt-post-info p-a30 text-white">
                                            <div class="post-overlay-position">
                                                <div class="post-content-outer">
                                                    <div class="wt-post-meta ">
                                                        <ul>
                                                            <li class="post-date"><strong>15</strong><span>Jan 2021</span></li>
                                                            <li class="post-author"><i class="fa fa-user-o"></i>By <a href="javascript:;">Admin</a> </li>
                                                            <li class="post-comment"><i class="fa fa-comments-o"></i> <a href="javascript:;">2 comment</a> </li>
                                                        </ul>
                                                    </div>                                    
                                                    <div class="wt-post-title ">
                                                        <h3 class="post-title"><a href="javascript:;" class="text-white text-capitalize">Everyone wants to make a profit from their business, for that all of them</a></h3>
                                                    </div>
                                                    <div class="wt-post-readmore ">
                                                        <a href="javascript:;" class="site-button-link white">Read More</a>
                                                    </div>
                                                </div>  
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-12">
                                <div class="row latest-blog-2-outer justify-content-center">

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog-post latest-blog-2 bg-white bdr-1 bdr-solid bdr-gray p-a20">
                                            <div class="wt-post-info">
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date">20 Jan 2021</li>
                                                        <li class="post-comment"><i class="fa fa-comments-o"></i> <a href="javascript:void(0);">5 Comment</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="wt-post-title ">
                                                    <h3 class="post-title"><a href="javascript:void(0);" class="site-text-secondry">Research Fundamental</a></h3>
                                                </div> 
                                                <div class="wt-post-text ">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                                </div>                                                                               
                                                <div class="wt-post-readmore ">
                                                    <a href="blog-post-right-sidebar.html" class="site-button-link black">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog-post latest-blog-2 bg-white bdr-1 bdr-solid bdr-gray  p-a20">
                                            <div class="wt-post-info">
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date">22 Jan 2021</li>
                                                        <li class="post-comment"><i class="fa fa-comments-o"></i> <a href="javascript:void(0);">5 Comment</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="wt-post-title ">
                                                    <h3 class="post-title"><a href="javascript:void(0);" class="site-text-secondry">Mechanical Evolution</a></h3>
                                                </div>
                                                <div class="wt-post-text ">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                                </div>                                                                                
                                                <div class="wt-post-readmore ">
                                                    <a href="blog-post-right-sidebar.html" class="site-button-link black">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog-post latest-blog-2 bg-white bdr-1 bdr-solid bdr-gray  p-a20">
                                            <div class="wt-post-info">
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date">24 Jan 2021</li>
                                                        <li class="post-comment"><i class="fa fa-comments-o"></i> <a href="javascript:void(0);">5 Comment</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="wt-post-title ">
                                                    <h3 class="post-title"><a href="javascript:void(0);" class="site-text-secondry">Future of Manufacturing</a></h3>
                                                </div> 
                                                <div class="wt-post-text ">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                                </div>                                                                               
                                                <div class="wt-post-readmore ">
                                                    <a href="blog-post-right-sidebar.html" class="site-button-link black">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="blog-post latest-blog-2 bg-white bdr-1 bdr-solid bdr-gray p-a20">
                                            <div class="wt-post-info">
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date">26 Jan 2021</li>
                                                        <li class="post-comment"><i class="fa fa-comments-o"></i> <a href="javascript:void(0);">5 Comment</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="wt-post-title ">
                                                    <h3 class="post-title"><a href="javascript:void(0);" class="site-text-secondry">Smart Factory Solutions</a></h3>
                                                </div>
                                                <div class="wt-post-text ">
                                                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                                </div>
                                                <div class="wt-post-readmore ">
                                                    <a href="blog-post-right-sidebar.html" class="site-button-link black">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div> 

                        </div>
                    </div>
                </div>
                
             </div>    -->
            <!-- OUR BLOG END --> 
            
            <!-- TESTIMONIAL SECTION START -->
            <div class="section-full  p-t80 p-b50 bg-no-repeat bg-center bg-white" style="background-image:url(images/background/bg-map.png)">
                <div class="container">

                    <!-- TITLE START-->
                    <div class="section-head center wt-small-separator-outer">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div>What our client say</div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>Happy WIth Customers & Clients</h2>
                    </div>
                    <!-- TITLE END-->
                    
                    <div class="testimonial-slider-two">
                        <div class="testimonial-carousel-5 owl-carousel owl-theme owl-btn-bottom-center">
                        
                            <div class="item">
                                <div class="testimonial-slider-content clearfix">
                                    <div class="testimonial-5 clearfix">
                                        <div class="testimonial-text shadow-sm">
  
                                            <div class="testimonial-paragraph">
                                                <div class="quote-left"></div>
                                                <p>I highly recommend Rhosigma for their professionalism, expertise, and dedication to delivering exceptional service</p>
                                                
                                            </div>
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name">Khan Imran</h4>
                                            </div>
                                            <div class="testimonial-detail ">
                                                <span class="testimonial-position">Manager at IT Solutions Pvt Ltd</span>
                                            </div>
                                        </div>
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="images/testimonials/khan.avif" alt="">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="testimonial-slider-content clearfix">
                                    <div class="testimonial-5 clearfix">
                                        <div class="testimonial-text shadow-sm">
  
                                            <div class="testimonial-paragraph">
                                                <div class="quote-left"></div>
                                                <p>The team at Rhosigma went above and beyond to ensure our project was a success. They were proactive in addressing any issues that arose .</p>
                                                
                                            </div>
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name">Shaikh Zareen</h4>
                                            </div>
                                            <div class="testimonial-detail ">
                                                <span class="testimonial-position">Employement at Upward Solutions</span>
                                            </div>
                                        </div>
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="images/testimonials/shaikh.avif" alt="">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="testimonial-slider-content clearfix">
                                    <div class="testimonial-5 clearfix">
                                        <div class="testimonial-text shadow-sm">
  
                                            <div class="testimonial-paragraph">
                                                <div class="quote-left"></div>
                                                <p>We've worked with several companies in the past, but Rhosigma stands out for their exceptional customer service and commitment to our satisfaction.</p>
                                                
                                            </div>
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name">Smith Waghmare</h4>
                                            </div>
                                            <div class="testimonial-detail ">
                                                <span class="testimonial-position">Ceo at Catalyst Company</span>
                                            </div>
                                        </div>
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="images/testimonials/Smith Waghmare.png" alt="">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="testimonial-slider-content clearfix">
                                    <div class="testimonial-5 clearfix">
                                        <div class="testimonial-text shadow-sm">
  
                                            <div class="testimonial-paragraph">
                                                <div class="quote-left"></div>
                                                <p>We are thrilled with the results of our collaboration with Rhosigma. They exceeded our expectations and delivered high-quality work.</p>
                                                
                                            </div>
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name">Poul Anderson</h4>
                                            </div>
                                            <div class="testimonial-detail ">
                                                <span class="testimonial-position"> HOD at Leap Forward</span>
                                            </div>
                                        </div>
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="images/testimonials/andrev.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <!-- <div class="item">
                                <div class="testimonial-slider-content clearfix">
                                    <div class="testimonial-5 clearfix">
                                        <div class="testimonial-text shadow-sm">
  
                                            <div class="testimonial-paragraph">
                                                <div class="quote-left"></div>
                                                <p>Working with Rhosigma was a great experience. Their team was knowledgeable, responsive, and attentive to our needs.</p>
                                                
                                            </div>
                                            <div class="testimonial-detail ">
                                                <h4 class="testimonial-name">Taminm Alows</h4>
                                            </div>
                                            <div class="testimonial-detail ">
                                                <span class="testimonial-position">Architect</span>
                                            </div>
                                        </div>
                                        <div class="testimonial-pic-block"> 
                                            <div class="testimonial-pic">
                                                <img src="images/testimonials/pic1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>                                                                                                                 -->
                            
                        </div>
                   </div>   

                </div>
            </div>
            <!-- TESTIMONIAL SECTION END -->              
       
                          
        </div>
        <!-- CONTENT END -->
        
       

        <!-- BUTTON TOP START -->
	

{{>footer}}
 
 	</div>


<!-- STYLE SWITCHER  ======= --> 
<!-- <div class="styleswitcher">

    <div class="switcher-btn-bx">
        <a class="switch-btn">
            <span class="fa fa-cog fa-spin"></span>
        </a>
    </div>
    
    <div class="styleswitcher-inner">
    
        <h6 class="switcher-title">Color Skin</h6>
        <ul class="color-skins">
            <li><a class="theme-skin skin-1" href="index.html?theme=css/skin/skin-1"></a></li>
            <li><a class="theme-skin skin-2" href="index-1061e7.html?theme=css/skin/skin-2"></a></li>
            <li><a class="theme-skin skin-3" href="index-10cce5.html?theme=css/skin/skin-3"></a></li>
            <li><a class="theme-skin skin-4" href="index-1013f7.html?theme=css/skin/skin-4"></a></li>
            <li><a class="theme-skin skin-5" href="index-1019a6.html?theme=css/skin/skin-5"></a></li>
            <li><a class="theme-skin skin-6" href="index-10fe5c.html?theme=css/skin/skin-6"></a></li>
            <li><a class="theme-skin skin-7" href="index-10ab47.html?theme=css/skin/skin-7"></a></li>
            <li><a class="theme-skin skin-8" href="index-105f8d.html?theme=css/skin/skin-8"></a></li>
            <li><a class="theme-skin skin-9" href="index-105663.html?theme=css/skin/skin-9"></a></li>
            <li><a class="theme-skin skin-10" href="index-1028ac.html?theme=css/skin/skin-10"></a></li>
            <li><a class="theme-skin skin-11" href="index-1026b8.html?theme=css/skin/skin-11"></a></li>
            <li><a class="theme-skin skin-12" href="index-107f4c.html?theme=css/skin/skin-12"></a></li>
        </ul>           
        
    </div>    
</div> -->
<!-- STYLE SWITCHER END ==== -->

</body>



</html>
