<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
        {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/lora.png);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Product Detail</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Lora</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

			<!-- SERVICE DETAIL SECTION START -->
            <div class="section-full small-device  p-t80 p-b50 bg-white">
                <div class="section-content">
                    <div class="container">
                    	<div class="row">
                            <div class="col-lg-4 col-md-12 rightSidebar">
                                <div class="all_services">
                                    <ul>
                                        <li><a href="product">All Product</a></li>
                                        <li><a href="HMI">Human To Machine Interface</a></li>
                                        <li><a href="RS485">RS485 To USB Converter</a></li> 
                                        <li><a href="lora"class="active">LORA</a></li>
                                        <li><a href="IIOT"  >IIOT Modules</a></li>
                                                                        
                                    </ul>
                                </div> 
                                <br>
                                <div class="service-side-btn m-b30 site-bg-white p-a20 text-black">
                                   <h2 class="wt-title">LORA</h2>
									<p> LoRa (Long Range) is a wireless communication technology that has many benefits, including:</p>
                                    
                                    
                                    <div class="wt-icon-box-wraper left ">
                                        <ul>
                                            <li>Long-range communication</li>
                                            <li>Low power consumption</li>
                                            <li>Low cost</li>
                                            <li>High capacity</li>
                                            <li>Security</li>
                                            <li>Easy to deploy  

                                            </li>
                                        </ul>
                                         
                                    </div>
                                    
                   

                                                                 
                                </div>
                            </div>
                            
                            <div class="col-lg-8 col-md-12">
                                <div class="section-content">
                                    <!-- TITLE START -->
                                    <div class="text-left">
                                        <h2 class="wt-title">Long Range Radio(lora)</h2>
                                    </div>
                                    <!-- TITLE END -->                                
                                   <div class="wt-box services-etc m-b30">
                                       <p>LoRa is mainly targeted for M2M and IoT networks. This technology allows public or multi-tenant networks to connect to many applications running on the same network. The LoRa flexibly addresses rural or indoor use cases in smart agriculture, smart cities, industrial IoT (IIoT), smart environments, smart homes and smart buildings, smart utilities and smart meters, smart supply chains and logistics. increase.</p>                                   
                           				<div class="wt-media m-b30">
                                   	    	<img src="images/products/lora.jpg" alt=""> 
                                        </div>
                                  
                                    </div>
                                   <div class="service-provide">
                                   		<h2>LoRaWAN classes</h2>
                                        <p>LoRaWAN has three different classes of end-point devices to address the different needs reflected in the wide range of applications:</p>
                                        <div class="row">
                                        
                                            <div class="col-md-6">
                                                <ul class="list-angle-right">
                                                    <li>Class A - Lowest power, bi-directional end-devices.</li>
                                                    <li>Class B -Bi-directional end-devices with deterministic downlink latency.</li>
                                                    <li>Class C - Lowest latency, bi-directional end-devices.</li>
                                                </ul>
                                             </div> 
                                                                                       
                                        	<div class="col-md-6">
                                                <div class="wt-media m-b30">
                                                    <img src="images/products/lora1.webp" alt=""> 
                                                </div>                                            
                                            </div>

                                        </div>
                                   </div>
                                   
									
                                   <div>
                                   	                                
                                   </div> 
                                  
                                </div>
                            </div>
                        </div>                            
                    </div>                                 
                </div>
            </div>   
            <!-- SERVICE DETAIL SECTION END --> 
            
        </div>
        <!-- CONTENT END -->
        
{{>footer}}
        
    </div>






</body>



</html>
