<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
       {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/prodetails/hardprodubann.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Products</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Products</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
            <!-- WHAT WE DO SECTION START -->
            <!-- <div class="section-full p-t80 p-b50 bg-gray what-we-do-section2">
            	
                <div class="container">                      
                    <div class="section-content what-we-do-content">
                        <div class="row d-flex justify-content-center flex-wrap">
                            <div class="col-lg-6 col-md-12 m-b30">
                                <div class="whatWedo-media-section">
                                    <div class="wt-media">
                                        <img src="images/what-we/pic1.jpg" alt="">
                                    </div>
                                    <div class="whatWedo-media-content text-white">
                                    	<div class="whatWedo-media-inner">
                                            <h3>Team Working Dedicatedly</h3>
                                            <p>We have 26+ years of experience with providing wide area of specialty services works listed below</p>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                               
                            <div class="col-lg-6 col-md-12 m-b40">
                                <div class="whatWedo-info-section">
                                    <!-- TITLE START-->
                                    <!-- <div class="left wt-small-separator-outer">
                                        <div class="wt-small-separator site-text-primary">
                                            <div  class="sep-leaf-left"></div>
                                            <div>What We do</div>
                                            <div  class="sep-leaf-right"></div>
                                        </div>
                                        <h2>Providing Full Range of High Services Solution Worldwide</h2>
                                        <p>Progressively maintain extensive infomediaries via extensible niches. Capitalize on low hanging fruit to identify a ballpark value added is activity to beta test. Override the igital divide</p>
                                        
                                    </div> -->
                                    <!-- TITLE END-->
                                    <!-- <div class="wt-icon-card-outer">
                                    <div class="wt-icon-card bg-white shadow">
                                    	<div class="wt-card-header"><i class="flaticon-robotic-arm site-text-primary"></i><span class="title-style-2 site-text-secondry">A Full Services</span></div>
                                        <div class="wt-card-content"><p>We are Providing different services in this sector to wide area of world</p></div>
                                    </div>
                                    
                                    <div class="wt-icon-card bg-white shadow">
                                    	<div class="wt-card-header"><i class="flaticon-repair site-text-primary"></i><span class="title-style-2 site-text-secondry">All Maintenance</span></div>
                                        <div class="wt-card-content"><p>We are Prous to Protect your organization with our award-winning products</p></div>
                                    </div>
                                    </div>
                                                                        
                                </div>                        
                            </div> 
                        
    
                        </div>
                    </div>                                        
				</div>
                <div class="hilite-large-title title-style-2">
                	<span>What we do</span>
                </div>
                
            </div>    --> 
            <!-- WHAT WE DO SECTION END -->                         

 			<!-- ALL SERVICES START -->
            <div class="section-full p-t80 p-b40">
                <div class="container">
                    <div class="section-content">
                    
                        <div class="wt-separator-two-part">
                            <div class="row wt-separator-two-part-row">
                                <div class="col-lg-8 col-md-7 wt-separator-two-part-left">
                                    <!-- TITLE START-->
                                    <div class="section-head left wt-small-separator-outer">
                                        <!-- <div class="wt-small-separator site-text-primary">
                                            <div class="sep-leaf-left"></div>
                                            <div>Latest Articles Updated Daily</div>
                                            <div class="sep-leaf-right"></div>
                                        </div> -->
                                        <h2>High Performance Products For Multiple Companies</h2>
                                    </div>
                                    <!-- TITLE END-->
                                </div>
                                <!-- <div class="col-lg-4 col-md-5 wt-separator-two-part-right text-right">
                                    <a href="s-agricultural" class="site-button site-btn-effect">More Detail</a>
                                </div> -->
                            </div>
                        </div>                   
                    
                   
                        <div class="row d-flex justify-content-center">
                        
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box">
                                        <div class="wt-box service-box-1 bg-white">
                                        
                                        	<div class="service-box-1-media m-b20 prod-img ">
                                           <a href="HMI"><img src="images/products/hmip.jpg" alt="HMI"></a>                       	
                                            </div>
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Human To Machine Interface</span>
                                                <span  class="s-title-two"></span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>A Human Machine Interface (HMI) is a user interface or dashboard that connects a person to a machine, system, or device. </p>
                                                <a href="HMI" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                        </div>
                                    </div>                     
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box">                                
                                        <div class="wt-box service-box-1 bg-white">

                                        	<div class="service-box-1-media m-b20 prod-img">
                                           <a href="RS485"><img src="images/products/convertor1.jpg" alt="RS485"></a> 	
                                            </div>                                            
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span class="s-title-one">RS485 To USB Converter</span>
                                            </div>
                                            <div class="service-box-content">
                                                <p>The USB to RS485 converter adapter module provides an easy-to-use RS485 interface by adding a virtual COM port to your PC.</p>
                                                <a href="RS485" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                        </div>
                                    </div>                                                            
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box ">                                
                                        <div class="wt-box service-box-1 bg-white">
                                        
                                        	<div class="service-box-1-media m-b20 prod-img">
                                        <a href="lora">	<img src="images/products/lora.jpg" alt="lora"></a>    
                                            </div>                                        
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">LORA</span>
                                            </div>
                                            
                                            <div class="service-box-content">
                                                <p>LoRa is mainly targeted for M2M and IoT networks. This technology allows public or multi-tenant networks to connect to many..</p>
                                                <a href="lora" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                                                                        
                                        </div>
                                    </div>                                                            
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                        
                                        	<div class="service-box-1-media m-b20 prod-img">
                                          <a href="Iot"><img src="images/products/iiot.jpg" alt="IOT"></a>  	
                                            </div>                                       
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">IIOT Modules</span>
                                            </div>
                                            
                                            <div class="service-box-content">
                                                <p>Industrial IoT is an ecosystem of devices, sensors, applications, and related network devices that work together to collect, monitor..</p>
                                                <a href="Iot" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                        </div>
                                    </div>                                                           
                                </div>
                                
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                        
                                        	<div class="service-box-1-media m-b20">
                                            	<img src="images/services/5.jpg" alt="">
                                            </div>                                        
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span class="s-title-one">Agricultural Automation</span>
                                            </div>
                                            
                                            <div class="service-box-content">
                                                <p>Progressively maintain extensive infomediaries via extensible nich. Capitalize on low hanging fruit.</p>
                                                <a href="s-agricultural" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                                                                        
                                        </div>
                                    </div>                                                          
                                </div> -->
                                
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box service-image-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                        
                                        	<div class="service-box-1-media m-b20">
                                            	<img src="images/services/6.jpg" alt="">
                                            </div>                                        
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Civil Engineering</span>
                                            </div>
                                            
                                            <div class="service-box-content">
                                                <p>Progressively maintain extensive infomediaries via extensible nich. Capitalize on low hanging fruit.</p>
                                                <a href="s-civil" class="site-button-link">Read More</a>
                                            </div>
                                                                                        
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>                              
                                                                                 -->
                        </div>
                    </div>
                </div>
            </div>   
            <!-- ALL SERVICES SECTION END --> 
            
      
            
        </div>
        <!-- CONTENT END -->
        
     {{>footer}}
        
    </div>





</body>



</html>
