<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
     {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/background/project.webp);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Project </h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/" style="color: #002b49;  font-family:inherit; font-weight:600 ;font-size:23px"> Home</a></li>
                                    <li style="color: #002b49;  font-family:inherit; font-weight:600 ;font-size:23px">Project </li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- GALLERY SECTION START -->
            <div class="section-full p-t80 p-b50 bg-white">
                <div class="container">
                    <!-- PAGINATION START -->
                    <div class="filter-wrap work-grid p-b30 text-center">
                        <ul class="masonry-filter link-style ">
                                <li class="active"><a data-filter="*" href="#">All Project</a></li>
                                <li><a data-filter=".cat-1" href="#">Full Stack </a></li>
                                <li><a data-filter=".cat-2" href="#">Hardware Development</a></li>
                                <li><a data-filter=".cat-3" href="#">Iot</a></li>
                                <li><a data-filter=".cat-4" href="#">Firmware</a></li>
                                <li><a data-filter=".cat-5" href="#">E2E Solution</a></li>
                        </ul>
                    </div>
                    <!-- PAGINATION END -->
                    
                    <!-- GALLERY CONTENT START -->
                     <div class="masonry-wrap mfp-gallery  row clearfix d-flex justify-content-center flex-wrap">
                        <!-- COLUMNS 1 -->
                        <!-- <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
                                <img src="images/gallery/thumb/pic1.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte m-b10 m-t0">Metal Industry</h3>
                                    <p>High Performance Services For Multiple Insdustries And Technologies!</p>
                                    <a href="project-detail" class="site-button-link">Read More</a>
                                </div>
                                <a href="images/gallery/thumb/pic1.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>                              
                            
                                                                                             
                        </div> -->
                        <!-- COLUMNS 2 -->
                        <div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/services/harddev3.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte m-b10 m-t0">Circuit Design</h3>
                                    <p>Committed to delivering high quality projects and innovate business.</p>
                                    <a href="hardware" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic2.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>     
                        </div>
                        <!-- COLUMNS 3 -->
                        <div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/ble.png" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Iot Modules</h3>
                                    <p>High Performance Services For Multiple Insdustries And Technologies!</p>
                                    <a href="ble" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic4.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>       
                        </div>
                        <!-- COLUMNS 4 -->
                        <div class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/services/embedded-firmware-development.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Firware Development</h3>
                                    <p>Committed to delivering high quality projects and innovate business.</p>
                                    <a href="firware" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic3.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>     
                        </div>
                        <!-- COLUMNS 5 -->
                        <div class="masonry-item cat-5 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/remote.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Remote Troubleshoot</h3>
                                    <p>High Performance Services For Multiple Insdustries And Technologies!</p>
                                    <a href="Remote" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic5.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>    
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/fota.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">firware over the air</h3>
                                    <p>Committed to delivering high quality projects and innovate business.</p>
                                    <a href="fota" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic6.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>      
                        </div>
                        <!-- COLUMNS 7 -->
                        <div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/iiot.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte m-b10 m-t0">Iiot Equipment</h3>
                                    <p>High Performance Services For Multiple Insdustries And Technologies!</p>
                                    <a href="IIoT" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic7.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>    
                        </div>
                        <!-- COLUMNS 5 -->
                        <div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/services/harddev7.png" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Circuit Testing</h3>
                                    <p>Committed to delivering high quality projects and innovate business.</p>
                                    <a href="hardware" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic8.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>     
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/hvac.png" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Full Stack Web Development</h3>
                                    <p>Better than other you will get UI/UX experience</p>
                                    <a href="webapp" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic9.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>   
                        </div>     
                        <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/andorid.jpg" alt="" />
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Anroid App Development</h3>
                                    <p>We have a highly skilled team developing custom mobile app</p>
                                    <a href="mobileapp" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic9.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>   
                        </div>     
                        <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1 pro-img">
                                <img src="images/gallery/destop.jpg" alt="" / >
                                <div class="wt-info">
                                    <h3 class="wt-tilte  m-b10 m-t0">Desktop App Development</h3>
                                    <p>We have 3+ yrs of experience for Desktop applications</p>
                                    <a href="desktop" class="site-button-link">Read More</a>
                                </div>
                                
                                <a href="images/gallery/thumb/pic9.jpg" class="mfp-link"><i class="fa fa-search-plus"></i></a>
                            </div>   
                        </div>                                  
                     </div>
                    <!-- GALLERY CONTENT END --> 
                </div>
            </div>   
            <!-- GALLERY SECTION END --> 
            
        </div>
        <!-- CONTENT END -->
        
{{>footer}}
        
    </div>





</body>


</html>
