<!DOCTYPE html>

<html lang="en">




<body>

    <div class="page-wraper"> 
    
       {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/remote.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Solution Build</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Remote Troubleshoot</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- GALLERY SECTION START -->
            <div class="section-full p-t80">
                <div class="container">
                                       
                    <div class="section-content"> 
                    
                        <div class="owl-carousel project-detail-slider owl-btn-vertical-center mfp-gallery">
                        
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="images/prodetails/remote1.jpg" alt="" />
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="project-img-effect-1">
                                    <img src="images/prodetails/remote2.jpg" alt="" />
                                </div>
                            </div> 
                            
                          
                            
                       
                        </div>
    
                    </div>   
                                                         
				</div>
            </div>   
            <!-- GALLERY SECTION END -->
            
			<div class="section-full p-t80 p-b50">
                <div class="container">
                    <div class="row d-flex justify-content-center flex-wrap"> 

                         <div class="col-lg-4 col-md-12 m-b30">
                            <div class="project-detail-left bg-gray p-a30">
                                
                                <div class="wt-icon-box-wraper left  m-b15 p-b15 bdr-1 bdr-bottom bdr-gray">
                                    <h4>Benefits </h4>
                              
                                    <ul>
                                        <li>The troubleshooting time and expense can be reduced.</li>
                                        <li>Need not commute to every end user device.</li>
                                        <li>Get a fine grained report of the remote sessions.</li>
                                        <li>Bridge communication gap between end user and admins.</li>
                                        <li>Troubleshoot devices even when out of corporate network.</li>
                                    </ul>
                                  
                                   
                                    
                                  </div>
                                
                                                                                                                   
                                
                            </div>                         	
                        </div>
                        
                         <div class="col-lg-8 col-md-12 m-b30">
							<div class="project-detail-right">
                                <h2 class="m-t0">Remote Troubleshoot</h2>
                                <p>Remote troubleshooting is a process in which technical support personnel use remote access tools to access a user's computer or device in order to diagnose and fix technical issues. Remote troubleshooting is an important tool for providing fast and efficient technical support to users who are experiencing issues with their devices or software.</p>
                                
                                <h3 class="m-t0">Here are the steps involved in remote troubleshooting: </h3>

                              
                                <ul class="list-check-circle primary">
                                    <li>Establish a connection</li>
                                    <li>Diagnose the problem</li>
                                    <li>Fix the problem</li>
                                    <li>Verify the solution</li>
                                    <li>Close the session</li>
                                </ul>
                                
                                <!-- <h3 class="m-t0">Problem</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra mauris eget tortor imperdiet vehicula. Proin egestas diam ac mauris molestie hendrerit.</p>
                                
                                <h3 class="m-t0">Solution</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra mauris eget tortor imperdiet vehicula. Proin egestas diam ac mauris molestie hendrerit.</p> 
                                
                                <h3 class="m-t0">Process</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra mauris eget tortor imperdiet vehicula. Proin egestas diam ac mauris molestie hendrerit.</p>                                                                   -->
                                                                  
                            </div> 
                        </div>

                    </div>    
               </div>
            </div>                      
            
        </div>
        <!-- CONTENT END -->
   
   {{>footer}}
        
    </div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
    
        <div class="loader">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
            <span class="block-4"></span>
            <span class="block-5"></span>
            <span class="block-6"></span>
            <span class="block-7"></span>
            <span class="block-8"></span>
            <span class="block-9"></span>
            <span class="block-10"></span>
            <span class="block-11"></span>
            <span class="block-12"></span>
            <span class="block-13"></span>
            <span class="block-14"></span>
            <span class="block-15"></span>
            <span class="block-16"></span>
        </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="js/jquery-2.2.0.min.js"></script><!-- JQUERY.MIN JS -->
<script  src="js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script  src="js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="js/bootstrap-select.min.js"></script><!-- Form js -->
<script  src="js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script  src="js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script  src="js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
<script  src="js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
<script  src="js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script  src="js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
<script  src="js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
<script  src="js/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script  src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script  src="js/lc_lightbox.lite.js" ></script><!-- IMAGE POPUP -->



</body>


<!-- Mirrored from thewebmax.org/industro/project-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2023 04:43:09 GMT -->
</html>
