<!DOCTYPE html>

<html lang="en">


<body>

    <div class="page-wraper"> 
  
  {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/services/bann/service.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services </h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/" style="color: #002b49; font-family:inherit;font-weight:600;font-size:23px">Home</a></li>
                                    <li style="color:#002b49; font-family:inherit; font-weight:600 ;font-size:23px">Services </li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

 			<!-- ALL SERVICES START -->
             <!-- <div class="section-full p-t80 p-b40 bg-no-repeat bg-bottom-right bg-cover" style="background-image:url(images/services/backsoft.webp)"> -->
            <div class="section-full p-t80 p-b40 bg-no-repeat bg-bottom-right " >
                <div class="container">
                    <div class="section-content">
                    
                    <!-- TITLE START-->
                        <div class="section-head center wt-small-separator-outer text-center">
                            <div class="wt-small-separator site-text-primary">
                                <div class="sep-leaf-left"></div>
                                <div>The Best Industry services</div>
                                <div class="sep-leaf-right"></div>
                            </div>
                            <h2>High Performance Services For Multiple Companies</h2>
                        </div>
                    <!-- TITLE END-->
                     
                        <div class="row d-flex justify-content-center">
                        
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Firmware</span>
                                                <span  class="s-title-two"> Development</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Firmware development is the process of creating software that is embedded into hardware devices, such as microcontrollers.. </p>
                                                <a href="firmware" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/firware.png" alt="firware"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>01</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                     
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span class="s-title-one">Hardware </span>
                                                <span  class="s-title-two">Development</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Hardware development refers to the process of designing, prototype, and producing physical electronic devices, components, and systems. </p>
                                                <a href="hardware" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/hardwares.png" alt="hardware"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>02</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                            
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Mobile App </span>
                                                <span  class="s-title-two">Development</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>The process of creating mobile applications that run on mobile devices uses network connections to interact with remote computing..</p>
                                                <a href="mobileapp" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/app.png" alt="app dev"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>03</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                            
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Web App </span>
                                                <span  class="s-title-two">Development</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Web development is the creation and maintenance of websites. This is the work behind the scenes to make your website look good..</p>
                                                <a href="webapp" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/destop.png" alt="web app"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>04</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                           
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span class="s-title-one">Desktop App </span>
                                                <span  class="s-title-two">Development</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>The purpose of desktop application development is to create desktop software for Mac, Windows, and Linux, or to update existing desktop..</p>
                                                <a href="desktop" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/destop app.png" alt="desktop"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>05</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                          
                                </div>
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">E2E </span>
                                                <span  class="s-title-two">Solution</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>An end-to-end solution refers to the process of running a system or service from start to finish without third-party assistance.</p>
                                                <a href="e2e" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/e2e.png" alt="E2E"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>06</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>       
                                
                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">EDD analysis  </span>
                                                <span  class="s-title-two">and verification</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Progressively maintain extensive infomediaries via extensible nich. Capitalize on low hanging fruit.</p>
                                                <a href="EddAnalysis" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/edd analyz.png" alt="EDD analysis "></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>07</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>  

                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">EDD development  </span>
                                                <span  class="s-title-two">for device manufactures</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>An EDD describes a device somewhat more than a Device Description (DD). EDDL, a text-based language.. </p>
                                                <a href="EDD" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/edd.png" alt="EDD development"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>08</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>  

                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">FDI development</span>
                                                <span  class="s-title-two">for device manufacture</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>FDI solves the problem of integrating field devices into the many networks, operating systems  </p>
                                                <a href="fdi" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/fdi.png" alt="FDI development"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>09</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>  

                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">DTM Development </span>
                                                <span  class="s-title-two">for Device Manufactures</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>DTMs include two types of DTMs: Device DTMs for field devices and Communication DTMs for field </p>
                                                <a href="dtm" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/Dtm.png" alt="Dtm "></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>10</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>  

                                <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">HART protocol</span>
                                                <span  class="s-title-two">Implementation</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>HART (Highway Addressable Remote Transducer) communication protocol is a hybrid</p>
                                                <a href="hart" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><img src="images/icon/sericon/harts.png" alt="hart"></span>
                                                </div>
                                                {{!-- <div class="wt-icon-number"><span>11</span></div> --}}
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>  

                                <!-- <div class="col-lg-4 col-md-6 col-sm-12 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">E2E </span>
                                                <span  class="s-title-two">Solution</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Progressively maintain extensive infomediaries via extensible nich. Capitalize on low hanging fruit.</p>
                                                <a href="s-civil" class="site-button-link">Read More</a>
                                            </div>
                                            
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><i class="flaticon-helmet"></i></span>
                                                </div>
                                                <div class="wt-icon-number"><span>12</span></div>
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>                                                      
                                </div>   -->
                                                                                
                        </div>
                    </div>
                </div>
            </div>   
            <!-- ALL SERVICES SECTION END --> 
            
    {{>footer}}
             
                        
        
        
    </div>







</body>



</html>
