<!DOCTYPE html>

<html lang="en">



<body>

    <div class="page-wraper"> 
    
        {{>navbar}}
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/bannners/webdesign.jpg);">
            	<div class="overlay-main site-bg-secondry opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-primary">Services</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/"  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px">Home</a></li>
                                    <li  style="color:#002b49;  font-family:inherit; font-weight:600 ;font-size:23px"> Web App Development</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white">
				<div class="container">
                
                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 m-b30">
                               <!-- BLOG START -->
                                <div class="blog-post date-style-2 blog-lg">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:;"><img src="images/services/web-design-main.png" alt=""></a>
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-category"><span>Web App </span> </li>
                                               
                                                
                                            </ul>
                                        </div>                                 
										<div class="wt-post-title ">
                                            <h2 class="post-title">Web Developement</h2>
                                        </div>
                                       
                                        <div class="wt-post-text">
                                        		<p>Web development is the creation and maintenance of websites. This is the work behind the scenes to make your website look good, run fast, and provide a seamless user experience. Web developers or "developers" do this using a variety of programming languages.</p>
                    
                                            <h2 class="post-title">Our web design service options                                            </h2>
                                            <p>We not only offer one-off web design opportunities, but also offer ongoing design support services to seamlessly evolve your ever-growing web solution. We work closely with your team to introduce incremental improvements and changes based on regular user research and A/B testing to ensure a great user experience.</p>
                                            <img src="images/services/types-of-web-application.png" alt="">
                                         
                                          
                                        
                                            
                                                                                

                                        </div>  
                                                        
                                    </div>
                                </div>
                                
                           
                                 
                            </div> 
                            
                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30">
                            
                                <aside  class="side-bar">
                                    
                                       <!-- SEARCH -->
                                       <!-- <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="post">
                                                    <div class="input-group">
                                                        <input name="news-letter" type="text" class="form-control" placeholder="Write your text">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                        
                                       <!-- RECENT POSTS -->
                                   
                                       <div class="widget widget_archives p-a20">
                                        <div class="text-left m-b30">
                                            <h3 class="widget-title">Steps for Organizing Web App Development</h3>
                                        </div>
                                        <ul>
                                          
                                            <li>User experience</li>
                                            <li>Compatibility</li>
                                            <li>Performance</li>
                                            <li> Security</li>
                                            <li>Accessibility</li>
                                            <li>Maintenance and updates</li>
                                            <li>Scalability</li>
                                           
                                                                                         
                                        </ul>
                                    </div>  
                                       <!-- Archives -->   
                                       <div class="widget widget_archives p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title">Web App Development</h3>
                                            </div>
                                        
                                          <div class="row">
                                            <div class="col-12 mb-3">
                                                <img src="images/services/web app.png" alt="">
                                            </div>
                                          
                                            <div class="col-12">
                                                <img src="images/services/mobile_and_web.png" alt="">
                                            </div>
                                            
                                          </div>
                                        </div>                                           
                                                                     
                                                                                
                                  
                                  
                                   </aside>
        
                            </div>
                            <!-- SIDE BAR END -->                         

                                                        
                        </div>
                                                 
                    </div>
                    
                </div>
                
             </div>   
            <!-- OUR BLOG END -->
                
             
            
        </div>
        <!-- CONTENT END -->
        
    {{>footer}}
        
    </div>




</body>


</html>
